<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <span class="brand-title" style="font-size:200%">
                <div style="font-weight:bold;float:left;color:#25aae1;">SHIEL</div>
                <div style="float:left">
                    <div style="font-size:85%;position:absolute;margin-top:.11em;margin-left:.05em;font-family:FontAwesome;color:#00529b">&#xf132;</div>
                    <!--<div style="font-size:85%;position:absolute;margin-top:.11em;margin-left:.05em;font-family:FontAwesome;color:#4f75b2">&#xf132;</div>-->
                    <div style="font-size:85%;background-color:#333333;position:absolute;width:.175em;height:1em;margin-top:-0.1em;display:inline">&nbsp;</div>
                </div>
            </span>
        </a>

        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
