<div>
    <div class="header" layout="row" layout-sm="column">
        <a href="/">
                <img src="../images/shield-full-logo.png" class="logoImage" alt="SHIELD" />
            </a>
    </div>
</div>
<div layout="column" ng-controller="ShellController as vm">
    <div class="alert" flex layout-padding layout="column" ng-show="vm.isAlertOpen">
        <div layout="row" layout-align="end center">
            <h4 class="md-title" flex>
                <i class="fa fa-warning"></i>Warning! Disclaimer from FDA</h4>
            <button class="close" ng-click="vm.isAlertOpen = false">×</button>
        </div>
        <p class="md-body-2">openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate,
            you should assume all results are unvalidated.</p>
    </div>
    <div layout="row" layout-align="center center">
        <main class="layout-content" layout="column" ui-view></main>
    </div>
</div>
<div class="footer" ng-controller="ShellController as vm">
    <a href="{{vm.navline.link}}">
                {{vm.navline.text}}
            </a>
</div>