extends layout

block content
  h1 Table tests
  p Table tests

  script(type='text/javascript').
    $.getJSON( "/data/query", function( data ) {
      var items = [];
      $.each( data, function( key, val ) {
        items.push( "<li id='" + key + "'>" + val + "</li>" );
      });
     
      $( "<ul/>", {
        "class": "my-new-list",
        html: items.join( "" )
      }).appendTo( "body" );
    });
