<div class="panel"></div>
<div class="col-md-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				<h3>Find products without an ingredient</h3>
			</div>
		</div>
		<form name="searchForm" ng-submit="vm.viewResults();">
			<!-- for the button to work with the enter key -->
			<div class="panel-body">
				<div class="text-left text-info col-xs-12 col-sm-6 col-md-6">
					<div class="row">
						<h3 class="col-md-12">I'm looking for a drug...</h3>
					</div>
					<div class="row">
						<h3 class="col-md-12">
							<div class="fa fa-heartbeat"></div>&nbsp;Purpose</h3>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group" ng-class="{ 'has-error' : searchForm.purpose.$invalid && !searchForm.purpose.$pristine }">
								<div layout="column" class="chipsdemoBasicUsage">
									<md-chips class="custom-chips" ng-model="vm.purposes" readonly="vm.readonly" md-on-append="vm.newPurpose($chip)">
										<md-autocomplete required md-input-name="purposes" ng-disabled="vm.isDisabled" md-no-cache="vm.noCache" md-selected-item="vm.selectedItem" 
											md-search-text-change="vm.searchTextChange(vm.searchText)"
										md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.querySearch(vm.searchText)"
										md-item-text="item.value" placeholder="Enter a purpose" 
										ng-model-options="{updateOn: 'default blur submit', debounce: { 'default': 300, 'blur': 0, 'submit': 0 }}">
											<md-item-template>
												<div>
													<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.value}}</span>
												</div>
												<div>
													<small style="color:red;">e.g., {{item.example}}</small>
												</div>
											</md-item-template>
											<md-not-found>No matches found for "{{vm.searchText}}".</md-not-found>
										</md-autocomplete>
										<md-chip-template>
											<span>
												<strong>{{$chip.name}}</strong>
											</span>
										</md-chip-template>
										<button md-chip-remove="" class="md-primary vegetablechip">
											<md-icon md-svg-icon="md-close"></md-icon>
										</button>
									</md-chips>
							</div>
							<p ng-show="vm.purposes.length === 0 && !searchForm.purposes.$pristine" class="help-block">Purpose is required.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="text-left text-info col-xs-12 col-sm-6 col-md-6">
				<div class="row">
					<h3 class="col-md-12">that doesn't contain...</h3>
				</div>
				<div class="row">
					<h3 class="col-md-12">
						<div class="fa fa-flask"></div>&nbsp;Ingredient</div>
				</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input name="ingredient" class="form-control input-lg" ng-model="vm.ingredient" ng-model-options="{updateOn: 'default blur submit', debounce: { 'default': 300, 'blur': 0, 'submit': 0 }}"
							ng-change="vm.provideExampleIngredients();" placeholder="What's the ingredient?"></input>
						</div>
					</div>
				</div>
				<div class="row" ng-show="vm.ingredient != null && vm.ingredient != ''">
					<h3 class="col-md-12">{{vm.exampleIngredients ? vm.exampleIngredients.length : 0}} matching ingredients</h3>
				</div>
				<div class="row" ng-show="vm.ingredient != null && vm.ingredient != ''">
					<h3 class="col-md-12">Ingredients excluded:</h3>
				</div>
				<div class="row" style="overflow: auto; max-height: 350px;" ng-show="vm.ingredient != null && vm.ingredient != ''">
					<div ng-repeat="x in vm.exampleIngredients">
						<a ng-click="vm.changeIngredient(x.value);" class="col-xs-4 col-md-4" style="font-weight:bold;">{{ x.value }}</a>
						<label style="word-wrap:break-word" class="col-xs-8 col-md-8 bold">{{ x.example }}</label>
					</div>
				</div>
			</div>
			<div class="panel-body col-xs-12 col-sm-12 col-md-12">
				<button angular-ripple class="btn btn-primary col-xs-12 col-sm-12 col-md-12  " ng-disabled="vm.purposes.length === 0" type="submit">
					<span>View</span>
					<span class="badge">{{ vm.productCount === undefined ? 0 : vm.productCount }}</span>
					<span>Matching Drugs</span>
				</button>
			</div>
			<div class="widget-foot ">
				<div class="clearfix "></div>
			</div>
	</div>
	</form>
</div>
</div>