<div layout-margin layout="column" class="md-whiteframe-z2">
	<md-toolbar class="md-primary md-info">
		<div class="md-toolbar-tools">
			<h2 class="md-flex">I'm looking for an over-the-counter medication...</h2>
		</div>
	</md-toolbar>
	<div layout-padding>
		<div>
			<md-input-container layout="row" layout-sm="column" md-no-float>
				<h3 flex-sm="flex" layout-padding class="md-display-title">with the following purpose(s) that includes</h3>
				<md-chips flex flex-sm="flex" class="include-chips md-display-1" ng-model="vm.purposes"
				md-on-append="vm.addChip($chip, 'purpose')">
					<md-autocomplete md-autofocus="false" required md-selected-item="vm.selectedItem" input-name="purposeAutoComplete" md-search-text-change
					md-selected-item-change="vm.selectedItemChange(item)" md-search-text="vm.purposeText" md-items="item in vm.query(vm.purposeText, 'purpose')"
					md-item-text="item.value" md-delay="150" placeholder="Enter a purpose">
						<md-item-template>
							<div>
								<span md-highlight-text="vm.purposeText" md-highlight-flags="^i">{{item.value}}</span>
							</div>
							<div>
								<small>e.g., {{item.example}}</small>
							</div>
						</md-item-template>
						<md-not-found>No matches found for "{{vm.purposeText}}".</md-not-found>
						<div ng-messages="searchForm.purposeAutoComplete.$error">
							<p ng-message="required">Purpose is required</p>
						</div>
					</md-autocomplete>
					<md-chip-template>
						<span>
							<strong>{{$chip.name}}</strong>
						</span>
					</md-chip-template>
					<button md-chip-remove="" class="md-primary includechip">
						<md-icon md-svg-icon="md-close"></md-icon>
					</button>
				</md-chips>
			</md-input-container>
			<md-input-container layout="row" layout-sm="column" md-no-float>
				<h3 flex-sm="flex" layout-padding class="md-display-title">and the following ingredient(s) that exclude</h3>
				<md-chips flex flex-sm="flex" class="exclude-chips" ng-model="vm.ingredients"
				md-on-append="vm.addChip($chip, 'ingredient')">
					<md-autocomplete md-autofocus="false" md-search-text-change md-selected-item-change md-search-text="vm.ingredientText" md-items="item in vm.query(vm.ingredientText, 'ingredient')"
					md-item-text="item.value" md-delay="150" placeholder="Enter an ingredient">
						<md-item-template>
							<div>
								<span md-highlight-text="vm.ingredientText" md-highlight-flags="^i">{{item.value}}</span>
							</div>
							<div>
								<small>e.g., {{item.example}}</small>
							</div>
						</md-item-template>
						<md-not-found>No matches found for "{{vm.ingredientText}}".</md-not-found>
					</md-autocomplete>
					<md-chip-template>
						<span>
							<strong>{{$chip.name}}</strong>
						</span>
					</md-chip-template>
					<button md-chip-remove="" class="md-primary excludechip">
						<md-icon md-svg-icon="md-close"></md-icon>
					</button>
				</md-chips>
			</md-input-container>
			<md-input-container>
				<md-button flex class="md-primary md-raised" ng-disabled="vm.productCount === 0" ng-click="vm.viewResults()">
					<span>View</span>
					<span>{{ vm.productCount === undefined ? 0 : vm.productCount }}</span>
					<span>Matching Drugs</span>
				</md-button>
			</md-input-container>
		</div>
	</div>
</div>