<div class="panel"></div>
<div class="col-md-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title"><h3>Find products without an ingredient</h3></div>
		</div>
		<form name="searchForm" ng-submit="vm.viewResults();">
			<!-- for the button to work with the enter key -->
			<div class="panel-body">
				<div class="text-left text-info col-xs-12 col-sm-6 col-md-6">
					<div class="row">
						<h3 class="col-md-12">I'm looking for a drug...</h3>
					</div>
					<div class="row">
						<h3 class="col-md-12">
							<div class="fa fa-heartbeat"></div>&nbsp;Purpose</h3>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group" ng-class="{ 'has-error' : searchForm.purpose.$invalid && !searchForm.purpose.$pristine }">
								<input class="form-control input-lg" required class="col-md-12" name="purpose" ng-model="vm.purpose" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 }}"
								ng-change="vm.provideExamplePurposes();" placeholder="What's your purpose?" autofocus></input>
								<p ng-show="searchForm.purpose.$invalid && !searchForm.purpose.$pristine" class="help-block">Purpose is required.</p>
							</div>
						</div>
					</div>
					<div class="row" ng-show="searchForm.purpose.$valid">
						<h3 class="col-md-12">{{vm.examplePurposes ? vm.examplePurposes.length : 0}} matching purposes</h3>
					</div>
					<div class="row" ng-show="searchForm.purpose.$valid">
						<h3 class="col-md-12">Purposes include...</h3>
					</div>
					<div class="row" style="overflow: auto; max-height: 350px;" ng-show="searchForm.purpose.$valid">
						<div ng-repeat="x in vm.examplePurposes">
							<a class="col-xs-4 col-md-4" ng-click="vm.changePurpose(x.value);" style="font-weight:bold;">{{ x.value }}</a>
							<label style="word-wrap:break-word" class="col-xs-8 col-md-8 bold">{{ x.example }}</label>
						</div>
					</div>
				</div>
				<div class="text-left text-info col-xs-12 col-sm-6 col-md-6">
					<div class="row">
						<h3 class="col-md-12">that doesn't contain...</h3>
					</div>
					<div class="row">
						<h3 class="col-md-12">
							<div class="fa fa-flask"></div>&nbsp;Ingredient</div>
					</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input name="ingredient" class="form-control input-lg" ng-model="vm.ingredient" ng-model-options="{updateOn: 'default blur submit', debounce: { 'default': 300, 'blur': 0, 'submit': 0 }}"
								ng-change="vm.provideExampleIngredients();" placeholder="What's the ingredient?"></input>
							</div>
						</div>
					</div>
					<div class="row" ng-show="vm.ingredient != null && vm.ingredient != ''">
						<h3 class="col-md-12">{{vm.exampleIngredients ? vm.exampleIngredients.length : 0}} matching ingredients</h3>
					</div>
					<div class="row" ng-show="vm.ingredient != null && vm.ingredient != ''">
						<h3 class="col-md-12">Ingredients excluded:</h3>
					</div>
					<div class="row" style="overflow: auto; max-height: 350px;" ng-show="vm.ingredient != null && vm.ingredient != ''">
						<div ng-repeat="x in vm.exampleIngredients">
							<a ng-click="vm.changeIngredient(x.value);" class="col-xs-4 col-md-4" style="font-weight:bold;">{{ x.value }}</a>
							<label style="word-wrap:break-word" class="col-xs-8 col-md-8 bold">{{ x.example }}</label>
						</div>
					</div>
				</div>
				<div class="panel-body col-xs-12 col-sm-12 col-md-12">
					<button class="btn btn-primary col-xs-12 col-sm-12 col-md-12 " ng-disabled="searchForm.$invalid" type="submit" ng-click="vm.viewResults();">
						<label>View</label>
						<span class="badge">{{ vm.productCount === undefined ? 0 : vm.productCount }}</span>
						<label>Matching Drugs</label>
						<div class="fa fa-angle-double-right"></div>
					</button>
				</div>
				<div class="widget-foot ">
					<div class="clearfix "></div>
				</div>
			</div>
		</form>
	</div>
</div>