<section class="mainbar">
	<section class="matter">
		<div class="container">
			<div class="col-md-12">
				<div class="widget wred">
					<div ht-widget-header title="Find products without an ingredient" allow-collapse="true"></div>
					<div class="widget-content text-left text-info col-md-6">
						<div>
							<label>I'm looking for a drug...</label>
						</div>
						<div>
							<label>Purpose: </label>
						</div>
						<div>
							<input ng-model="vm.purpose" ng-model-options="{debounce: 300}" ng-change="vm.provideExamplePurposes($event);" placeholder="What's your purpose?">
						</div>
						<div>
							<label>{{vm.examplePurposes ? vm.examplePurposes.length : 0}} matching purposes</label>
						</div>
						<div>
							<h5>Purposes include...</h5>
						</div>
						<div class="row" ng-repeat="x in vm.examplePurposes">
							<label class="col-md-4 ">{{ x.value }}</label>
							<label style="word-wrap:break-word" class="col-md-8 ">{{ x.example }}</label>
						</div>
					</div>
					<div class="widget-content text-left text-info col-md-6">
						<div>
							<label>that doesn't contain...</label>
						</div>
						<div>
							<label>Ingredient: </label>
						</div>
						<div>
							<input ng-model="vm.ingredient" ng-model-options="{debounce: 300}" ng-change="vm.provideExampleIngredients($event);" placeholder="What's the ingredient?">
						</div>
						<div>
							<label>{{vm.exampleIngredients ? vm.exampleIngredients.length : 0}} matching ingredients</label>
						</div>
						<div>
							<h5>Ingredients excluded:</h5>
						</div>
						<div class="row " ng-repeat="x in vm.exampleIngredients">
							<label class="col-md-4 ">{{ x.value }}</label>
							<label style="word-wrap:break-word" class="col-md-8 ">{{ x.example }}</label>
						</div>
					</div>
					<div class="widget-foot ">
						<div class="clearfix "></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>