<section class="mainbar">
	<section class="matter">
		<div class="container">
			<div class="col-md-12">
				<div class="widget wred">
					<div ht-widget-header title="Find products without an ingredient" allow-collapse="true"></div>
					<div class="widget-content text-left text-info col-md-6">
						<div>
							<label>I'm looking for a drug...</label>
						</div>
						<div>
							<label>Purpose: </label>
						</div>
						<div>
							<input ng-model="vm.purpose" ng-model-options="{debounce: 300}" ng-change="vm.provideExamplePurposes();" placeholder="What's your purpose?">
						</div>
						<div>
							<label>{{vm.examplePurposes ? vm.examplePurposes.length : 0}} matching purposes</label>
						</div>
						<div>
							<h5>Purposes include...</h5>
						</div>
						<div class="row" style="overflow: auto; height: 350px;">
							<div ng-repeat="x in vm.examplePurposes">
								<a class="col-md-4" ng-click="vm.changePurpose(x.value);" style="font-weight:bold;">{{ x.value }}</a>
								<label style="word-wrap:break-word" class="col-md-8 bold">{{ x.example }}</label>
							</div>
						</div>
					</div>
					<div class="widget-content text-left text-info col-md-6">
						<div>
							<label>that doesn't contain...</label>
						</div>
						<div>
							<label>Ingredient: </label>
						</div>
						<div>
							<input ng-model="vm.ingredient" ng-model-options="{debounce: 300}" ng-change="vm.provideExampleIngredients();" placeholder="What's the ingredient?">
						</div>
						<div>
							<label>{{vm.exampleIngredients ? vm.exampleIngredients.length : 0}} matching ingredients</label>
						</div>
						<div>
							<h5>Ingredients excluded:</h5>
						</div>
						<div class="row" style="overflow: auto; height: 350px;">
							<div ng-repeat="x in vm.exampleIngredients">
								<a ng-click="vm.changeIngredient(x.value);" class="col-md-4" style="font-weight:bold;">{{ x.value }}</a>
								<label style="word-wrap:break-word" class="col-md-8 bold">{{ x.example }}</label>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<label>{{vm.productsWithoutIngredient ? (vm.productsWithoutIngredient.length === 100 ? "100+" : vm.productsWithoutIngredient.length) : 0}} matching drugs found </label>
						<button ng-click="vm.viewResults();">View Results</button>
					</div>
					<div class="widget-foot ">
						<div class="clearfix "></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>