@color_lightblue: #25aae1;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;
@color_darkblue: #00529b;

* {
    /*-webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;*/
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

.btn.btn-primary {
    background: #00529b !important;
}

    .btn.btn-primary:hover {
        background: #4f75b2 !important;
    }

.btn.btn-info {
    background: @color_lightblue !important;
}

    .btn.btn-info:hover {
        background: #459fc9 !important;
    }

.btn.btn-success {
    background: @color_success !important;
}

    .btn.btn-success:hover {
        background: #36a530 !important;
    }

.btn.btn-warning {
    background: @color_warning !important;
}

    .btn.btn-warning:hover {
        background: #d67323 !important;
    }

.btn.btn-danger {
    background: @color_important !important;
}

    .btn.btn-danger:hover {
        background: #d82829 !important;
    }

/* Label colors */

.label.label-success,
.badge.badge-success {
    background: @color_success !important;
}

.label.label-warning,
.badge.badge-warning {
    background: @color_warning !important;
}

.label.label-important,
.badge.badge-important {
    background: @color_important !important;
}

.label.label-info,
.badge.badge-info {
    background: @color_lightblue !important;
}

/* Background colors */
.blightblue {
    background: @color_lightblue !important;
    color: #fff !important;
    border: 0 !important;
}

.bblue {
    background: @color_blue !important;
    color: #fff !important;
    border: 0 !important;
}

.bgreen {
    background: @color_success !important;
    color: #fff !important;
    border: 0 !important;
}

.borange {
    background: @color_warning !important;
    color: #fff !important;
    border: 0 !important;
}

.bred {
    background: @color_important !important;
    color: #fff !important;
    border: 0 !important;
}

.bviolet {
    background: @color_violet !important;
    color: #fff !important;
    border: 0 !important;
}

    .blightblue h2, .blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
    .bblue h2, .bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
    .bgreen h2, .bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
    .bred h2, .bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
    .bviolet h2, .bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
    .borange h2, .borange h3, .borange h3, .borange h4, .borange h5, .borange h6 {
        color: #fff !important;
    }

    .blightblue a,
    .bblue a,
    .bgreen a,
    .bred a,
    .borange a,
    .bviolet a {
        color: #eee !important;
    }

        .blightblue a:hover,
        .bblue a:hover,
        .bgreen a:hover,
        .bred a:hover,
        .borange a:hover,
        .bviolet a:hover {
            color: #ddd !important;
        }

/* Text colors */

.lightblue {
    color: @color_lightblue !important;
}

.blue {
    color: @color_blue !important;
}

.green {
    color: @color_success !important;
}

.orange {
    color: @color_warning !important;
}

.red {
    color: @color_important !important;
}

.violet {
    color: @color_violet !important;
}

/* Matter */

.mainbar .matter {
    border-top: 0px solid #ddd;
    margin: 2em;
}

/* Widget */

.widget {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;
}

    .widget hr {
        margin: 4px 0;
        padding: 4px 0;
        border-top: 0;
        border-bottom: 1px solid #ddd;
    }

    .widget .table {
        margin: 0;
        width: 100%;
    }

    .widget .table-bordered {
        border: 0;
    }

        .widget .table-bordered th {
            border-bottom: 1px solid #ccc !important;
        }

        .widget .table-bordered td {
            border-top: 0 !important;
            border-bottom: 1px solid #ccc !important;
        }

            .widget .table-bordered td:first-child, .widget .table-bordered th:first-child {
                border-left: 0;
            }

    .widget .padd {
        padding: 15px;
    }

    .widget .widget-head {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        color: #777;
        font-size: 18px;
        padding: 12px 15px;
    }

        .widget .widget-head .widget-icons i {
            font-size: 14px;
            margin: 0 4px;
        }

        .widget .widget-head .widget-icons a {
            color: #aaa;
        }

            .widget .widget-head .widget-icons a:hover {
                color: #888;
            }

    .widget .widget-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .widget .widget-foot {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-top: 0;
        padding: 8px 15px;
        font-size: 13px;
        color: #555;
    }

    /* Widget colors */

    .widget.wred .widget-head {
        background-color: @color_important;
        border: 1px solid @color_important;
        color: #fff;
    }

    .widget.wlightblue .widget-head {
        background-color: @color_lightblue;
        border: 1px solid @color_lightblue;
        color: #fff;
    }
    
    .widget.wdarkblue .widget-head {
        background-color: @color_darkblue;
        border: 1px solid @color_darkblue;
        color: #fff;
    }

    .widget.wblue .widget-head {
        background-color: @color_blue;
        border: 1px solid @color_blue;
        color: #fff;
    }

    .widget.wgreen .widget-head {
        background-color: @color_success;
        border: 1px solid @color_success;
        color: #fff;
    }

    .widget.worange .widget-head {
        background-color: @color_warning;
        border: 1px solid @color_warning;
        color: #fff;
    }

    .widget.wviolet .widget-head {
        background-color: @color_violet;
        border: 1px solid @color_violet;
        color: #fff;
    }

        .widget.wred .widget-head .widget-icons a,
        .widget.wblue .widget-head .widget-icons a,
        .widget.wlightblue .widget-head .widget-icons a,
        .widget.worange .widget-head .widget-icons a,
        .widget.wgreen .widget-head .widget-icons a,
        .widget.wviolet .widget-head .widget-icons a {
            color: #fff;
        }

            .widget.wred .widget-head .widget-icons a:hover,
            .widget.wblue .widget-head .widget-icons a:hover,
            .widget.wlightblue .widget-head .widget-icons a:hover,
            .widget.worange .widget-head .widget-icons a:hover,
            .widget.wgreen .widget-head .widget-icons a:hover,
            .widget.wviolet .widget-head .widget-icons a:hover {
                color: #eee;
            }

    /* Widget white extras */

    .widget .nav-tabs > li a {
        padding: 5px 10px;
    }

    .widget .nav-tabs {
        margin-bottom: 5px;
    }

    .widget .tab-content {
        margin-bottom: 10px;
    }


table th > a {
    font-weight: bold;
}

table th,
table td {
    text-align: left;
    vertical-align: middle;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    cursor: pointer;
}


.widget-content.referrer {
    border-width: 0;
}

a {
    cursor: pointer;
}

/* #endregion */



/*#region wrapper for angular ng-include and ng-view animations*/
.view-container {
    position: relative;
    overflow: hidden;
}
/*#endregion */

/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#endregion*/

/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

    .fader-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }

.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}

/*#endregion*/

/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    position: fixed !important;
    display: inline !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */

/*#region toastr */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    margin: 4px auto;
}
/*#endregion */

/* Responsive */
@media (max-width: 979px) {
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 600px;
    }
}

@media (min-width: 768px) {
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 700px;
    }
}

@media (max-width: 767px) {
    
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 500px;
    }
}

@media (max-width: 480px) {
    
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 320px;
    }
}

@media (max-width: 320px) {
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 120px;
    }
}

/*#endregion */


/* Forms Styles */
.form-wizard>ol {
    list-style-type: none;
    text-align: center;
    padding: 0 15px;
}

.form-wizard>ol>li {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fcfcfc;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.form-wizard>ol>li>a {
    text-decoration: none
}

.form-wizard>ol>li .label {
    background-color: @color_lightblue;
    vertical-align: super;
}

.form-wizard>ol>li .label[href]:focus, .form-wizard>ol>li .label[href]:hover {
    background-color: #2f80e7
}

.form-wizard>ol>li h4 {
    display: inline-block;
    color: #515253
}

.form-wizard>ol>li small {
    display: block;
    color: #909fa7
}

.form-wizard>ol>li.active {
    background-color: #25aae1;
}

.form-wizard>ol>li.active h4, .form-wizard>ol>div>li.active small {
    color: #fff
}

.form-wizard>ol>li.active .label {
    background-color: #fff;
    border-color: #fff;
    color: #5d9cec
}

.form-wizard .wizard-buttons {
    margin: 0
}

.form-wizard .well {
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 #000
}


/*#endregion*/