@color_lightblue: #25aae1;
@color_blue: #1171a3;
@color_success: #1cd373;
@color_warning: #e55353;
@color_important: #ffdb45;
@color_violet: #932ab6;
@color_darkblue: #00529b;
@color_secondary_primary: #4f75b2;
// Override @primary color with one took from _colors.less
@primary:@color_darkblue;
@info:@color_lightblue;
@warning:@color_warning;
@success:@color_success;

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h5,
h6 {
  font-weight: 400;
}

body {
    background: #FAFAFA;
}



body,
button,
input,
select,
textarea {
    color: #212121;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

p {
    line-height: 1.8;
}

a {
    cursor: pointer;
}

/* #endregion */

/* Bootstrap custom */

/* #endregion */

/*#region wrapper for angular ng-include and ng-view animations*/
.view-container {
    position: relative;
    overflow: hidden;
}
/*#endregion */

/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
/*#endregion*/

/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

    .fader-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }

.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}

/*#endregion*/

/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    position: fixed !important;
    display: inline !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */

/*#region toastr */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    margin: 4px auto;
}
/*#endregion */


/* Responsive */
@media (min-width: 960px) {
    main {
        display: block;
        width: 940px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 979px) {
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 600px;
    }
}

@media (min-width: 768px) {
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 700px;
    }
}

@media (max-width: 767px) {
    
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 500px;
    }
    .ngPagerContainer{
    margin-top: 0px !important;
}
}

@media (max-width: 480px) {
    
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 450px;
    }
    
    .ngPagerContainer{
    margin-top: 0px !important;
}
}

@media (max-width: 320px) {
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        height: 450px;
    }
    
    

    .ngPagerContainer{
    margin-top: 0px !important;
}
}

/*#endregion */

.ngRowCountPicker {
    visibility: collapse;
}


.logoImage {
    display:block;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

.header{
    background-color: white;
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #00529b;
}

.footer{
    background-color: white;
    padding: 20px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #00529b;
}
 
.close {
    opacity:1;
}

.ngPagerButton[disabled] {
    opacity:0.3;
}

.btn {
    white-space: normal;
}

.btn-inline {
    margin: 5px 0px;
}

/* Chips */
.include-chips .md-chip {
  position: relative;
  padding-right: 35px;
    background: #388E3C;
    color: white;
  }
.exclude-chips .md-chip {
  position: relative;
  padding-right: 35px;
    background: #D32F2F;
    color: white;
  }
  .include-chips .md-chips .md-chip.md-focused {
    background: #388E3C;
    color: white;
     }
  .exclude-chips .md-chips .md-chip.md-focused {
    background: #D32F2F;
    color: white;
     }
  .md-chips .md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .md-chip .md-chip-remove-container button {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .md-chip .md-chip-remove-container button md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .md-chip .md-chip-remove-container button.includechip:hover, .include-chips .md-chip .md-chip-remove-container button.includechip:focus {
        background: #81C784;
      }        
      .md-chip .md-chip-remove-container button.excludechip:hover, .include-chips .md-chip .md-chip-remove-container button.excludechip:focus {
        background: #E57373;
      }
        
.color-red{
    color: red;
}
/* Angular Material Design */
.md-autocomplete-suggestions li {
    height: auto;
}
.md-primary.md-info {
    background: @primary !important;
}

.alert {
    background: @color_warning;
    color:white;
}

// Makes md-tabs responsive
.md-center-tabs {
    height: auto !important;
}

.md-tab {
    white-space: normal;
    height: auto !important;
}

.close {
    float: right;
    font-size: 21px;
    color: white;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .9
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    color: #fff;
    vertical-align: middle;
    background-color: @color_secondary_primary;
    line-height: 1;
    white-space: nowrap;
    border-radius: 10px
}

.filter-panel {
    background: #E3F2FD;
}

.filter-panel a{
    text-decoration: none !important;
    color:black;
    height:100%;
    width:100%;
}

.layout-content {
  box-sizing: border-box;
}
/*#endregion*/